h1 {
    color: #EFEEF5;
}



body {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    text-align: center;
}


img {
    Width: 150px;
    Height: 150px;
}

a {
    text-decoration: none;
}

table a {
    color: #EFEEF5;
    text-align: center;
    position: relative;
    left: 45em;
    text-decoration: none;

}

table:hover a {
    background-color: #EFEEF5;
    color: #591BC5;
    text-decoration: none;
}

table:focus {
    background-color: #EFEEF5;
    color: #591BC5;
    text-decoration: none;
}


.web-development {
    background-color: red;
    width: 200px;
    height: 300px;
    text-align: center;
    position: absolute;
    left: 40%;

}







.container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
}






/* ============= Animation background ========= */
.background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 195vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #FFF;
}

.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}

.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}


/* ================= Header ============ */
header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4vh;
    background-color: transparent;
    color: #FFF;
    float: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: flex;
    justify-content: space-around;

    float: left;
    transition: .3s;
}

nav ul li a {
    text-decoration: none;
    color: #EFEEF5;
    transition: .5;
    font-size: 15px;
    margin-left: 12px;
    margin-right: 15px;
    padding: 14px 15px;
}

nav ul li:hover a {
    text-decoration: none;
    color: #591BC5;
    ;
}

nav ul li:hover {
    height: 45px;
    padding-top: 30px;
    margin-top: -30px;
    background: #EFEEF5;
    text-decoration: none;
    transform: skew(15deg);
}

/* Logo */
.logo {
    width: 35px;
    height: 35px;
    background: #EFEEF5;
    margin: 20px 15px;

    align-items: left;
    transform: rotate(-30deg);
}

.logo span {
    color: #591BC5;
    font-size: 2em;
    line-height: 1.4;
    padding-left: 5px;
    font-weight: bold;
    position: absolute;
    left: 2px;
    top: 1px;
}

/* Header content & title & button*/
.header-content {
    margin-top: 10%;
    text-align: center;
    color: #EFEEF5;
}


.header-content h1 {
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
}

.header-content p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 50px;
}



.header-content button:hover {
    border-radius: 0;
}


/*==========Contact Me============*/
.contact {
    width: 50%;
    max-width: 500px;
    height: 90%;
    min-height: 400px;
    max-height: 900px;
    background-color: #93f9f8;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin: auto;
    padding: 56px;
    border-radius: 8px;
    font-size: 100%;

}




input[type=text] {
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 8px;
    margin: 10px 0;
    padding: 12px 20px;
    transition: width 0.4s ease-in-out;
}



input[type=text]:hover {
    background-color: #18dcd9;
    border-radius: 8px;
}

input[type=text]:focus {
    background-color: #18dcd9;
    border: 1px solid transparent;
    border-radius: 8px;
    width: 100%;

}

textarea {
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 8px;
    line-height: 20px;
    margin: 10px 0;
    padding: 10px 20px;
    resize: none;
    height: 150px;
    width: 100%;
    max-width: 900px;
}

textarea:hover {
    background-color: #18dcd9;
    border-radius: 8px;
}

textarea:focus {
    background-color: #18dcd9;
    border: 8px solid transparent;
    border-radius: 8px;
}



input[type=email] {
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 8px;
    margin: 10px 0;
    padding: 12px 20px;
    transform: width 0.4s ease-in-out;
}

input[type=email]:hover {
    background-color: #18dcd9;
    border-radius: 8px;
}

input[type=email]:focus {
    border: 8px solid transparent;
    border-radius: 8px;
    width: 100%;
}





/* Animate Background*/
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}